.List-Root{
    display: flex;
    flex-direction: column;
}

.classes-container {
    width: 50%;
    display: flex;
    align-items: start;
    flex-direction: column;
    flex-wrap: wrap;

    & nav h1 {
        color: white;
        display:flex;
        width: 100%;
        justify-content:space-between;
    }
}

.classes-palette{
    width: 100%;
    display:grid;
    grid-template-columns: repeat(3, 30%);
    grid-gap: 5%;
}