.pallete{
   height: 100vh;

    &-color-holder{
        height: 90%;
    }

    .title{
        display: inline-block;
        margin-right: 20px;
        margin-bottom: 4px;
    }
}

.snackB{
    color: white;
    background-color:inherit ;
    cursor: pointer;
}

.footerDiv{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    font-weight: 600;

    span{
        margin: 0 0.5rem;
    }
}

