.pallete {
  height: 100vh; }
  .pallete-color-holder {
    height: 90%; }
  .pallete .title {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 4px; }

.snackB {
  color: white;
  background-color: inherit;
  cursor: pointer; }

.footerDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600; }
  .footerDiv span {
    margin: 0 0.5rem; }
